<div class="container main-container">
  <h1>Canal de Youtube</h1>
  <hr>

  <div class="card-columns" *ngIf="videos.length > 0">
  <div class="card animated fadeIn fast" *ngFor="let video of videos">
    <img class="card-img-top" [src]="video.thumbnails.high.url" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{video.title}}</h5>
      <p class="card-text">{{video.description}}</p>
      <button (click)="verVideo(video)" type="button" class="btn btn-outline-primary btn-block" name="button">
        Ver Video
      </button>
    </div>
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="videoSel">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{videoSel.title}}</h5>
      </div>
      <div class="modal-body">
        <iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary">Cerrar</button>
      </div>
    </div>
  </div>
</div>
